
apiVersion: v1
kind: Service
metadata:
  labels:
    app: flaskapi
  name: flakapi
spec:
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30100
      protocol: TCP
  selector:
    app: flakapi
